$white: #fff;
$main-color:#034F84;
$brighter-color:#4e83a8;

* {
  font-family: 'Oxygen', sans-serif;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

header , footer{
  color:$main-color;
  padding:1rem 0;
  span {
    float:right;
    padding:0 1rem;
  }
  i {
    padding:0 1.5rem;
    font-size:1.5rem;
    color:$main-color;
    &:hover {
    animation: bounce 0.5s;
    }
  }
  a {
    color:$main-color;
    font-style:none;
  &:hover {
    color:$brighter-color;
  }
}
}

.currentpage {
  font-weight:bold;
  text-decoration:underline;
}
img {
  width:100%; /* keeps images the same width */
  padding:10px;
  margin:0;
}
.frontpageimages {
  &:hover {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition-duration: 1s;
  }
}

#logo {width:75%;}

h3 {
  font-weight:bold;
}

.weightlossimages {
  padding: 80px 0 80px 20px;
  width:90%;
}
.weightlosstext {
  padding:50px 0 50px 20px;
}
