$white: #fff;
$exodus-fruit:#6c5ce7;
$shy-moment:#a29bfe;

* {
  font-family: 'Oxygen', sans-serif;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

header , footer{
  color:$exodus-fruit;
  padding:1rem 0;
  span {
    float:right;
    padding:0 1rem;
  }
  i {
    padding:0 1.5rem;
    font-size:1.5rem;
    color:$exodus-fruit;
    &:hover {
    animation: bounce 0.5s;
    }
  }
  a {
    color:$exodus-fruit;
    font-style:none;
  &:hover {
    color:black;
  }
}
}

.currentpage {
  font-weight:bold;
  text-decoration:underline;
}
img {
  width:100%; /* keeps images the same width */
  padding:10px;
  margin:0;
}
.frontpageimages {
  &:hover {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition-duration: 1s;
  }
}

#logo {width:50%;}
